.wrapper {
	width: 600px;
	max-width: 600px;
	min-height: 600px;
	margin: 0 auto;
	margin-top: 90px;
}

h2 {
	font-family: Avenir;
	color: blue;
	line-height: 30px;
	font-size: 25px;

}

p {
	font-family: Avenir;
	color: blue;
	line-height: 30px;
	font-size: 25px;
}

h6 {
	font-family: Avenir;
	text-transform: uppercase;
	color: red;
	font-size: 15px;
}