.wrapper {
	width: 800px;	
	min-width: 800px;
	max-width: 800px;

}

.sq {
	width: 100px;
	height: 100px;
	background-color: black;
	float: left;
}

.sq1 {
	width: 100px;
	height: 100px;
	background-color: white;
	float: left;
}